---
import Card from "../components/Card.astro";
---

<div class="gallery">
    <div class="gallery-title">Gallery</div>
    <div class="gallery-images">
        <Card title="Gallery Image 1" image="/art/art1.jpeg" medium="Watercolor" dimensions="10x10" year="2025" />
        <Card title="Gallery Image 2" image="/art/art2.jpeg" medium="Watercolor" dimensions="10x10" year="2025" />
        <Card title="Gallery Image 3" image="/art/art3.jpeg" medium="Watercolor" dimensions="10x10" year="2025" />
        <Card title="Gallery Image 4" image="/art/art4.jpeg" medium="Watercolor" dimensions="10x10" year="2025" />
        <Card title="Gallery Image 5" image="/art/art5.jpeg" medium="Watercolor" dimensions="10x10" year="2025" />
    </div>
</div>

<style>
    .gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--sp);
        padding: var(--sp-2);
    }

    .gallery-title {
        font-weight: 600;
        font-size: var(--sp-2);
        letter-spacing: 1px;
        color: var(--color-text);
        text-align: center;
        margin: 0;
    }

    .gallery-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--sp-2);
        padding: var(--sp-2);
    }

    .gallery-images {}
</style>