<div class="header">
    <div class="header-title">Irin</div>
    <div class="header-subtitle">Printmaker & Watercolor Artist</div>
    <div class="header-bottom-divider"></div>
</div>

<style>
    .header {
        width: 100%;
        padding: var(--sp-2) 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--sp);
    }

    .header-title {
        padding-left: var(--sp);
        font-weight: 800;
        font-size: var(--sp-4);
        letter-spacing: 1px;
        background-image: url("/spectrum-gradient.svg");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header-subtitle {
        padding-left: var(--sp);
        font-weight: 500;
        font-size: var(--sp);
        letter-spacing: 1px;
        color: var(--color-text);
    }

    .header-bottom-divider {
        margin-top: var(--sp-2);
        width: var(--sp-8);
        height: var(--sp-0-25);
        background: linear-gradient(90deg, var(--color-palette-prussian), var(--color-palette-teal-accent), var(--color-palette-ice-blue));
        border-radius: 9999px;
    }
</style>